.custom-hover-primary:hover {
  color: var(--bs-primary) !important;
}
.custom-hover-shadow:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important
}
.custom-w-33{
  width:33.33333%
}
@media (max-width: 576px) {
  .custom-sm-body {
    padding: 0 !important;
  }
}
img{
  max-width: 100%;
}
.custom-cursor{
  cursor: pointer;
}

.footer--container{
  --bs-bg-opacity: 1;

  background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity)) !important;
}

.container-header__Navbar{
  margin-bottom: 20px;
}

.icon__div{
  display: flex;
  align-items: center;
}

.icon-footer__icon{
  margin-left: 20px;
}